<!DOCTYPE html>
<html>

<head>
    <!-- require APlayer -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
    <!-- require MetingJS -->
    <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
</head>

<body>
    <div class="demo">
        <div id="player1">
        </div>
    </div>
    <script>
        var ap = new APlayer
            ({
                element: document.getElementById('player1'),
                fixed: true,
                autoplay: false,
                mini: true,
                theme: '#f8f4fc',
                loop: 'all',
                order: 'random',
                preload: 'auto',
                volume: 0.4,
                mutex: true,
                listFolded: true,
                listMaxHeight: '500px',
                lrcType: 3,
                music: [
                    {
                        name: 'Monica(Live)', url: 'https://github.com/lihan3238/music/raw/main/musics/Monica(Live)-张国荣.mp3', artist: '张国荣', cover: 'https://s1.best-wallpaper.net/wallpaper/m/1207/Kitten-greeting_m.webp', lrc: 'https://raw.githubusercontent.com/lihan3238/music/main/musics/Monica(Live)-张国荣.lrc'
                    },
                    {
                        name: '素颜', url: 'https://github.com/lihan3238/music/raw/main/musics/素颜-许嵩,何曼婷.mp3', artist: '许嵩,何曼婷', cover: 'https://s1.best-wallpaper.net/wallpaper/m/1207/Kitten-greeting_m.webp', lrc: 'https://raw.githubusercontent.com/lihan3238/music/main/musics/素颜-许嵩,何曼婷.lrc'
                    },
                    {
                        name: '再见', url: 'https://github.com/lihan3238/music/raw/main/musics/再见-张震岳.mp3', artist: '张震岳', cover: 'https://s1.best-wallpaper.net/wallpaper/m/1207/Kitten-greeting_m.webp', lrc: 'https://raw.githubusercontent.com/lihan3238/music/main/musics/再见-张震岳.lrc'
                    },
                    {
                        name: '千千阙歌', url: 'https://github.com/lihan3238/music/raw/main/musics/千千阙歌-张国荣.m4a', artist: '张国荣', cover: 'https://s1.best-wallpaper.net/wallpaper/m/1207/Kitten-greeting_m.webp', lrc: 'https://raw.githubusercontent.com/lihan3238/music/main/musics/千千阙歌-张国荣.lrc'
                    },
                    {
                        name: '漠河舞厅', url: 'https://github.com/lihan3238/music/raw/main/musics/漠河舞厅-柳爽.mp3', artist: '柳爽', cover: 'https://s1.best-wallpaper.net/wallpaper/m/1207/Kitten-greeting_m.webp', lrc: 'https://raw.githubusercontent.com/lihan3238/music/main/musics/漠河舞厅-柳爽.lrc'
                    },
                    {
                        name: '讲不出再见', url: 'https://github.com/lihan3238/music/raw/main/musics/讲不出再见-谭咏麟.mp3', artist: '谭咏麟', cover: 'https://s1.best-wallpaper.net/wallpaper/m/1207/Kitten-greeting_m.webp', lrc: 'https://raw.githubusercontent.com/lihan3238/music/main/musics/讲不出再见-谭咏麟.lrc'
                    },
                ]
            });
        //ap.init();
    </script>
</body>
